@media screen and (min-width:350px) and (max-width: 449px){
    /*CONTAINER INVISIVEL*/
    .solicite-servicos-externo{
        height: 450px;
        width: 350px;
    }
    .sair{
        left: 316px ;
        top: 33px;
    }
    
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu{
        padding: 7px;
        width: 100%;
    }
    .menu img{
        height: 60px;
        width: 150px;
        margin-left:0px;
    }
    .menu-interno a{
        display: none;
    }
    .menu-interno{
        gap: 10px;
        font-size: 16px;
        position: relative;
        right: 23px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
        font-size: 40px;
        padding: 0px 20px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 100%;
    }
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 300px;
        width: 300px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    /*ICONES*/
    .icone{
        gap: 50px;
    }
    .icone img{
        height: 50px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1000px;
        width: 100%;
    }
    .todos-servicos{
        gap:5px;
        flex-wrap: wrap;
    }
    .servico{
        height: 305px;
        width: 160px;
        transition: all 1s ease-in-out;
        animation-range: cover 0% 20%;
    }
    .servico h2{
        margin-bottom: 3px;
        font-size: 14px;
    }
    .servico img{
        height: 110px;
    }
    .servico span{
        padding: 5px;
        transition: all 1s ease-in-out;
        font-size: 13px;
    }
    .servico p{
        padding: 10px 0px 0px 10px;
        font-size: 11px;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: relative;
        bottom: 90px;
    }
    .servico:hover  span{
        opacity: 0;
    }
    .servico:hover p{
        opacity: 1;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree {
        gap: 15px;
    }
    .feed{
        width: 200px;
    }
    .feed p {
        font-size: 17px;
    }
    .feed1, .feed2{
        height: 40px;
        right: 0px;
    }
    .feed2{
        left: 150px;
    }
    .pessoa img{
        height: 90px;
        border-radius: 50%;
    }
    .pessoa {
        font-size: 13px;
    }
    .b1, .b2, .b3{
        height: 25px;
        width: 25px;
    }

    /*FORMULÁRIO E RODAPÉ*/
    .logo-formulario{
        width: 100%;
    }
    .contatos{
        gap: 15px;
        font-size: 15px;
    }
    
    footer{
        height: 200px;
    
    }
    .rodape{
        height: 200px;
    }
    .rodape img{
        height: 170px;
        border-radius: 50%;
    }
}

@media screen and (min-width:450px) and (max-width: 549px){
    /*CONTAINER INVISIVEL*/
    .solicite-servicos-externo{
        height: 450px;
        width: 430px;
    }
    .sair{
        left: 396px ;
        top: 33px;
    }
    
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu{
        padding: 7px;
        width: 100%;
    }
    .menu img{
        height: 60px;
        width: 150px;
        margin-left:0px;
    }
    .menu-interno a{
        display: none;
    }
    .menu-interno{
        gap: 10px;
        font-size: 16px;
        position: relative;
        right: 10px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
        font-size: 40px;
        padding: 0px 20px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 100%;
    }
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 400px;
        width: 400px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 20px;
        text-align: center;
    }

    /*ICONES*/
    .icone{
        gap: 50px;
    }
    .icone img{
        height: 50px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 100%;
        width: 100%;
    }
    .todos-servicos{
        gap:5px;
        flex-wrap: wrap;
    }
    .servico{
        height: 320px;
        width: 190px;
        transition: all 1s ease-in-out;
        animation-range: cover 0% 20%;
    }
    .servico h2{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .servico img{
        height: 120px;
    }
    .servico span{
        padding: 5px;
        transition: all 1s ease-in-out;
        font-size: 14px;
    }
    .servico p{
        padding: 10px 0px 0px 10px;
        font-size: 13px;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: relative;
        bottom: 90px;
    }
    .servico:hover  span{
        opacity: 0;
    }
    .servico:hover p{
        opacity: 1;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree {
        gap: 25px;
    }
    .feed{
        width: 230px;
    }
    .feed p {
        font-size: 20px;
    }
    .feed1, .feed2{
        height: 40px;
        right: 0px;
    }
    .feed2{
        left: 200px;
    }
    .pessoa img{
        height: 110px;
        border-radius: 50%;
    }
    .b1, .b2, .b3{
        height: 25px;
        width: 25px;
    }

    /*FORMULÁRIO E RODAPÉ*/
    .logo-formulario{
        width: 100%;
    }
    
    footer{
        height: 200px;
    
    }
    .rodape{
        height: 200px;
    }
    .rodape img{
        height: 170px;
        border-radius: 50%;
    }
}

@media screen and (min-width:550px) and (max-width: 699px){ 
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu img{
        height: 70px;
        width: 190px;
        margin-left:0px;
    }
    .menu-interno{
        gap: 25px;
        font-size: 15px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
        font-size: 45px;
        padding: 0px 50px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 400px;
        width: 400px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 20px;
        text-align: center;
    }

    /*ICONES*/
    .icone{
        gap: 75px;
    }
    .icone img{
        height: 70px;
    }


    /*SERVIÇOS*/
    .servicos{
        height: 1200px;
        width: 100%;
    }
    .todos-servicos{
        gap:20px;
        flex-wrap: wrap;
    }
    .servico{
        height: 410px;
        width: 240px;
    }
    .servico img{
        height: 120px;
    }
    .servico p{
        padding: 15px 0px 0px 10px;
        font-size: 13px;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree {
        gap: 25px;
    }
    .feed{
        width: 290px;
    }
    .feed p {
        font-size: 25px;
    }
    .feed1, .feed2{
        height: 50px;
        right: 0px;
    }
    .feed2{
        left: 250px;
    }
}

@media screen and (min-width:700px) and (max-width: 999px) {
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu img{
        margin-left:25px;
    }
    video{
        height: 100vh;
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
        font-size: 45px;
        padding: 0px 50px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 700px;
        width: 100%;
    } 
    .texto-sobre-nos{
        width:100%;
        gap: 15px;
    }
    .texto-sobre-nos img{
        height: 350px;
        width: 350px;
    }
    .texto-sobre-nos p{
        padding: 15px;
    }

    /*ICONES*/
    .icone{
        gap: 100px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1200px;
        width: 100%;
    }
    .todos-servicos{
        gap:20px;
        flex-wrap: wrap;
    }
    .servico{
        height: 410px;
        width: 240px;
    }
    .servico img{
        height: 120px;
    }
    .servico p{
        padding: 15px 0px 0px 10px;
        font-size: 13px;
    }
    
    /*FEEDBACKS*/
    .feedbacks-one,.feedbacks-two, .feedbacks-tree {
        gap: 50px;
    }
    .feed{
        width: 300px;
    }
    .feed p {
        font-size: 25px;
    }
    .feed1, .feed2{
        height: 70px;
        right: 60px;
    }
    .feed2{
        left: 250px;
    }
    /*FORMULÁRIO*/
    .formulario{
        height: 800px;
    }
}

@media screen and (min-width:1000px) and (max-width: 1349px) {
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:center;
        background-repeat: repeat-y;
        background-size: contain;
    }
    video{
        height: 100vh;
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE A EMPRESA*/
    .sobre-nos{
    height: 600px;
    width: 100%;
    } 

    /*SERVIÇOS*/
    .servicos{
        height: 800px;
        width: 100%;
    }
    .todos-servicos{
        gap:10px;
    }
    .servico{
        width: 240px;
    }
    .servico p{
        text-align: start;
        padding: 15px 0px 0px 10px;
        font-size: 13px;
        color: black;
    }

    /*FEEDBACKS*/
    .feedbacks-clientes{
        background-color: aliceblue;
        height: 650px;
    }

    /*FORMULÁRIO*/
    .formulario{
        height: 750px;
    }
}

@media screen and (min-width:1350px) and (max-width: 1499px) {
    /*REDE SOCIAIS*/
    .rede-sociais{
        bottom: 170px;
    }
    /*SERVIÇOS*/
    .todos-servicos{
        gap:25px;
    }
}

@media screen and (min-width:1500px) and (max-width: 1650px) {
    /*REDES SOCIAIS*/
    .rede-sociais{
        bottom: 110px;
    }
}

@media screen and (min-width:350px) and (max-width: 1699px) {
    .container-two{
        bottom: 3px;
    }
}

@media screen and (min-width:2000px) and (max-width: 2230px) {
    .container-two{
        bottom: 64px;
    }
}
