@media screen and (min-width:350px) and (max-width: 450px){
    /*CANAL*/
    .fechar-canal{
        bottom: 30px;
        left: 160px;
    }
    /*IMAGEM DE FUNDO*/
    .container-two-canal{
        height: 350px;
        width: 350px;
    }
    /*CORES DE FUNDO*/
    .container-interno-canal{ 
        height: 350px;
        width: 350px;
    }
    .container-interno-canal h1 {
        font-size: 18px;
    }
    .container-interno-canal p {
        font-size: 15px;
    }

    /*CONTAINER INVISIVEL*/
    .solicite-servicos-externo{
        height: 450px;
        width: 350px;
    }
    .sair{
        left: 156px;
        top: 33px;
    }
    
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu{
        padding: 7px;
        width: 100%;
    }
    .menu img{
        height: 50px;
        width: 110px;
        margin-left:0px;
    }
    .menu-interno a{
        display: none;
    }
    .menu-interno{
        gap: 10px;
        font-size: 13px;
        position: relative;
        right: 5px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100dvh;
    }
    .frase{
        z-index: +1;
        font-size: 40px;
        padding: 0px 10px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 100%;
    }
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 300px;
        width: 300px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    /*ICONES*/
    .icone{
        gap: 50px;
    }
    .icone img{
        height: 50px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1000px;
        width: 100%;
    }
    .todos-servicos{
        gap:5px;
        flex-wrap: wrap;
    }
    .servico{
        height: 310px;
        width: 160px;
        transition: all 1s ease-in-out;
        animation-range: cover 0% 10%;
    }
    .servico h2{
        margin-bottom: 3px;
        font-size: 13px;
    }
    .servico img{
        height: 110px;
        margin-top: 10px;
    }
    .servico span{
        padding: 5px;
        transition: all 1s ease-in-out;
        font-size: 12.5px;
    }
    .servico p{
        display:none;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree, .feedbacks-four, .feedbacks-five{
        gap: 5px;
        height: 300px;
    }
    .feed{
        width: 190px;
    }
    .feed p {
        font-size: 17px;
    }
    .feed1, .feed2{
        height: 40px;
        right: 0px;
    }
    .feed2{
        left: 150px;
    }
    .pessoa{
        width: 130px;
    }
    .pessoa img{
        height: 90px;
        border-radius: 50%;
    }
    .pessoa {
        font-size: 12px;
    }
    .b1, .b2, .b3, .b4, .b5{
        height: 25px;
        width: 25px;
    }

    /*FORMULÁRIO E RODAPÉ*/
    .formulario{
        height: 800px;
    }
    .logo-formulario{
        width: 100%;
    }
    .contatos{
        gap: 15px;
        font-size: 15px;
    }
    
    footer{
        height: 200px;
    }
    footer div p{
        font-size: 13px;
    }
    footer img{
        height: 150px;
        border-radius: 50%;
    }
    .hallo{
        font-size: 15px;
        margin-right: 0px;
        padding-right:5px ;
        margin-top: 150px;
    }
    .formulario{
        padding: 50px 0px;
    }
    .logo-formulario{
        top: 15px;
    }
}

@media screen and (min-width:451px) and (max-width: 550px){
    /*CANAL*/
    .fechar-canal{
        bottom: 48px;
        left: 185px;
    }

    /*IMAGEM DE FUNDO*/
    .container-two-canal{
        height: 400px;
        width: 400px;
    }
    /*CORES DE FUNDO*/
    .container-interno-canal{ 
        height: 400px;
        width: 400px;
    }

    /*CONTAINER INVISIVEL*/
    .solicite-servicos-externo{
        height: 450px;
        width: 430px;
    }
    .sair{
        left: 196px;
        top: 33px;
    }
    
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu{
        padding: 7px;
        width: 100%;
    }
    .menu img{
        height: 60px;
        width: 150px;
        margin-left:0px;
    }
    .menu-interno a{
        display: none;
    }
    .menu-interno{
        gap: 10px;
        font-size: 16px;
        position: relative;
        right: 10px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100dvh;
    }
    .frase{
        z-index: +1;
        font-size: 40px;
        padding: 0px 20px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 100%;
    }
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 400px;
        width: 400px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 20px;
        text-align: center;
    }

    /*ICONES*/
    .icone{
        gap: 50px;
    }
    .icone img{
        height: 50px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1000px;
        width: 100%;
    }
    .todos-servicos{
        gap:5px;
        flex-wrap: wrap;
    }
    .servico{
        height: 320px;
        width: 190px;
        transition: all 1s ease-in-out;
        animation-range: cover 0% 20%;
    }
    .servico h2{
        margin-bottom: 5px;
        font-size: 17px;
    }
    .servico img{
        height: 120px;
        margin-top: 10px;
    }
    .servico span{
        padding: 5px;
        transition: all 1s ease-in-out;
        font-size: 14px;
    }
    .servico p{
        display: none;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree, .feedbacks-four, .feedbacks-five{
        gap:17px;
        height: 350px;
    }
    .feed{
        width: 220px;
    }
    .feed p {
        font-size: 20px;
    }
    .feed1, .feed2{
        height: 40px;
        right: 0px;
    }
    .feed2{
        left: 185px;
    }
    .pessoa{
        width: 150px;
    }
    .pessoa img{
        height: 110px;
        border-radius: 50%;
    }
    .b1, .b2, .b3, .b4, .b5{
        height: 25px;
        width: 25px;
    }

    /*FORMULÁRIO E RODAPÉ*/
    .logo-formulario{
        width: 100%;
    }
    
    footer{
        height: 200px;
    }
    footer div p{
        font-size: 14px;
    }
    footer img{
        height: 160px;
        border-radius: 50%;
    }
    .hallo{
        margin-right: 0px;
        padding-right:5px ;
        font-size: 15px;
        margin-top: 150px;
    }
    .formulario{
        padding: 50px 0px;
    }
}

@media screen and (min-width:551px) and (max-width: 700px){ 
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .menu img{
        height: 60px;
        width: 165px;
        margin-left:0px;
    }
    .menu-interno{
        gap: 10px;
        font-size: 11px;
    }
    video{
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100dvh;
    }
    .frase{
        z-index: +1;
        font-size: 45px;
        padding: 0px 50px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE NÓS*/
    .texto-sobre-nos{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-sobre-nos img{
        height: 400px;
        width: 400px;
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .texto-sobre-nos p{
        padding: 20px;
        text-align: center;
    }

    /*ICONES*/
    .icone{
        gap: 75px;
    }
    .icone img{
        height: 70px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1250px;
        width: 100%;
    }
    .todos-servicos{
        gap:20px;
        flex-wrap: wrap;
    }
    .servico{
        height: 450px;
        width: 240px;
    }
    .servico img{
        height: 120px;
    }
    .servico p{
        padding: 15px 0px 0px 10px;
        font-size: 13px;
    }

    /*FEEDBACKS*/ 
    .feedbacks-one,.feedbacks-two, .feedbacks-tree, .feedbacks-four, .feedbacks-five{
        gap: 25px;
    }
    .feed{
        width: 290px;
    }
    .feed p {
        font-size: 25px;
    }
    .feed1, .feed2{
        height: 50px;
        right: 0px;
    }
    .feed2{
        left: 250px;
    }
    .hallo{
        margin-top: 240px;
    }
    .formulario{
        padding: 50px 0px;
    }
}

@media screen and (min-width:701px) and (max-width: 1000px) {
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:left;
        background-size: cover;
    }
    .sair{
        height: 35px;
        width: 35px;
        font-size: 30px;
    }
    .menu img{
        margin-left:25px;
    }
    video{
        height: 100vh;
        z-index: 0;
    }
    .menu img{
        margin-left: 10px;
    }
    .menu-interno{
        gap: 25px;
        font-size: 14px;
    }

    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
        font-size: 45px;
        padding: 0px 50px;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    .container-two{
        height: 100%;
        width: 100%;
    }

    /*SOBRE NÓS*/
    .sobre-nos{
        height: 700px;
        width: 100%;
    } 
    .texto-sobre-nos{
        width:100%;
        gap: 15px;
    }
    .texto-sobre-nos img{
        height: 350px;
        width: 350px;
    }
    .texto-sobre-nos p{
        padding: 15px;
    }

    /*ICONES*/
    .icone{
        gap: 100px;
    }

    /*SERVIÇOS*/
    .servicos{
        height: 1250px;
        width: 100%;
    }
    .todos-servicos{
        gap:20px;
        flex-wrap: wrap;
    }
    .servico{
        height: 440px;
        width: 240px;
    }
    .servico img{
        height: 120px;
    }
    .servico p{
        padding: 15px 0px 0px 10px;
        font-size: 13px;
    }
    
    /*FEEDBACKS*/
    .feedbacks-one,.feedbacks-two, .feedbacks-tree, .feedbacks-four, .feedbacks-five{
        gap: 50px;
    }
    .feed{
        width: 300px;
    }
    .feed p {
        font-size: 25px;
    }
    .feed1, .feed2{
        height: 70px;
        right: 60px;
    }
    .feed2{
        left: 250px;
    }
    /*FORMULÁRIO*/
    .formulario{
        height: 800px;
    }
    .logo-formulario{
        top: 15px;
    }
    .hallo{
        margin-top: 240px;
    }
}

@media screen and (min-width:1001px) and (max-width: 1350px) {
    /*ENTRADA*/
    .container-one{
        content:'';
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -99;
        height: 100vh;
        width: 100%;
        background-position:center;
        background-repeat: repeat;
        background-size: contain;
    }
    video{
        height: 100vh;
        z-index: 0;
    }
    .sobre-empresa{
        z-index: +1;
        height: 100vh;
    }
    .frase{
        z-index: +1;
    }
    .rede-sociais{
        z-index: +1;
    }
    .menu{
        z-index: +2;
    }

    /*SOBRE A EMPRESA*/
    .sobre-nos{
        height: 600px;
        width: 100%;
    } 

    /*SERVIÇOS*/
    .servicos{
        height: 850px;
        width: 100%;
    }
    .todos-servicos{
        gap:10px;
    }
    .servico{
        width: 240px;
    }
    .servico p{
        text-align: start;
        padding: 15px 0px 0px 10px;
        font-size: 13px;
    }

    /*FEEDBACKS*/
    .feedbacks-clientes{
        height: 650px;
    }

    /*FORMULÁRIO*/
    .formulario{
        height: 750px;
    }
    .logo-formulario{
        top: 15px;
    }
}

@media screen and (min-width:1351px) and (max-width: 1500px) {
    .container-one{
        content:'';
        position: relative;
        background-image: url(../imagens/videos/wwp\ fundo.jpeg);
        z-index: -1;
        height: 100vh;
        width: 100%;
        background-position:center;
        background-repeat: repeat;
        background-size: contain;
    }
    /*REDE SOCIAIS*/
    .rede-sociais{
        bottom: 20px;
    }
    /*SERVIÇOS*/
    .todos-servicos{
        gap:25px;
    }
    .servicos{
        height: 100dvh;
        width: 100%;
    }
    .logo-formulario{
        top: 15px;
    }
    .formulario{
        height: 750px;
    }
    .formulario-interno{
        height: 400px;
    }
}
